.formContainer{
  left: 13.3083333%;
  width: 73.33333333%;
  top: 16.98%;
  height: 73.07265522%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.labelText{
  font-size: 1.0625rem;
  color: var(--color-base-gray400);
}

.inputBox {
  width: 100%;
  height: 5.5555vh;
  box-sizing: border-box;
  border-radius: 8px;
  border : 0.6px solid var(--color-base-gray200);
  font-size: 1.0625rem;
  padding-left: 5.454545%;
}

.dateInputBox{
  width: 100%;
  height: 5.5555vh;
  box-sizing: border-box;
  border-radius: 8px;
  border : 0.6px solid var(--color-base-gray200);
  font-size: 1.0625rem;
  padding-left: 5.454545%;
  padding-right: 5.454545%;
}

.dateInputBox::placeholder{
  color: var(--color-base-gray400);
}

.inputBoxContainer{
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 20%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.inputBox[aria-invalid='false'] {
  outline: 1.5px solid var(--color-main-green);
}

.inputBox[aria-invalid='true'] {
  outline: 1.5px solid var(--color-base-red100);
}

.dateInputBox[aria-invalid='true'] {
  outline: 1.5px solid var(--color-base-red100);
}

.dateInputBox[aria-invalid='false'] {
  outline: 1.5px solid var(--color-main-green);
}

.writeNumber[aria-invalid='false'] {
  outline: 1.5px solid var(--color-main-green);
}

.writeNumber[aria-invalid='true'] {
  outline: 1.5px solid var(--color-base-red100);
}

.inputBoxExample[aria-invalid='false'] {
  outline: 1.5px solid var(--color-main-green);
}

.inputBoxExample[aria-invalid='true'] {
  outline: 1.5px solid var(--color-base-red100);
}


.subButton{
  width: 100%;
  height: 5.5555vh;
  color: white;
  background-color: var(--color-main-green);
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  top: 90%;
}

.errorFont{
  position: absolute;
  top: 16%;
  color: var(--color-base-red100);
  font-size: 0.875rem;
  padding-left: 5.454545%;
}

.errorFont1{
  position: absolute;
  color: var(--color-base-red100);
  font-size: 0.875rem;
  top: 36%;
  padding-left: 5.454545%;
}

.inputBoxExample{
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 69%;
  height: 5.5555vh;
  border: 0.6px solid var(--color-base-gray200);
  border-radius: 8px;
  font-size: 1.0625rem;
  padding-left: 5.454545%;
}

.inputAuthContainer{
  position: relative;
  top: 25.039%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.labelTitle{
  font-size: 1.0625rem;
  color: var(--color-base-gray400);
}

.select{
  width: 100%;
  border: none;
  font-size: 1.0625rem;
  border-bottom: 1px solid var(--color-base-gray200);
  appearance: none;
  height: 3vh;
  position: absolute;
  top: 130%;
  box-sizing: border-box;
  color: var(--color-base-gray400);
  padding-left: 5.454545%;
}

.selectIcon{
  position: absolute;
  width: 5%;
  right: 3%;
  top: 120%;
  transform: translateY(100%);

}

.numberContainer{
  position: absolute;
  top: 400%;
  display: flex;
  gap: 15px;
  width: 100%;
}

.writeNumber{
  width: 66.3%;
  height: 5.5555vh;
  box-sizing: border-box;
  border: 0.6px solid var(--color-base-gray200);
  border-radius: 8px;
  font-size: 1.0625rem;
  padding-left: 5.454545%;
}

.numberButton{
  width: 30%;
  height: 5.5555vh;;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--color-main-green);
  color: white;
  font-size: 1.0625rem;
}

.numberButton:disabled {
  background-color: var(--color-base-gray200);
  color: white;
}

.errorFont2{
  position: absolute;
  color: var(--color-base-red100);
  font-size: 0.875rem;
  top: 65.5%;
  padding-left: 5.454545%;
}

.errorFont3{
  position: absolute;
  color: var(--color-base-red100);
  font-size: 0.875rem;
  top: 80%;
  padding-left: 5.454545%;
}

.authContainer{
  position: relative;
  top: 0;
  width: 100%;
  border: 10px solid;
}

.nameContainer{
  position: absolute;
  top: 0;
  width: 100%;
  border: 1px solid;
}

.secondText{
  position: absolute;
  top: 72.5%;
  right: 0;
  font-size: 1.0625rem;
  transform: translate(-50%);
  color: var(--color-main-green);
}