.mainContainer {
  width: 31.25%;
  background-color: white;
  height: 62.2229vh;
  position: relative;
  top: 18.871%;
  left: 18.125%;
  border-radius: 30px;
  box-shadow: 0px 4px 15px 0px rgba(1, 26, 20, 0.2);
}

.titleName{
  color: var(--color-base-gray400);
  font-size: 1.0625rem;
}

.title{
  font-size: 2rem;
  text-align: center;
  position: relative;
  top: 8.334%;
}

.formContainer{
  left: 13.3083333%;
  width: 73.33333333%;
  top: 14.304%;
  height: 73.07265522%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.inputBox{
  width: 100%;
  border-radius: 8px;
  height: 5.5555vh;
  border: 0.6px solid var(--color-base-gray200);
  font-size: 1.0625rem;
  box-sizing: border-box;
  padding-left: 5.454545%;
}

.inputBox[aria-invalid="false"] {
  outline: 1.5px solid var(--color-main-green);
}

.inputBox[aria-invalid="true"] {
  outline: 1.5px solid var(--color-base-red100);
}

.buttonContainer{
  width: 100%;
  border-radius: 8px;
  height: 5.5555vh;
  position: absolute;
  top: 87%;
  border: none;
  cursor: pointer;
  background-color: var(--color-main-green);
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0;
}

.errorFont {
  position: absolute;
  top: 19%;
  font-size: 0.875rem;
  color: var(--color-base-red100);
  padding-left: 7.27%;
}

.defaultFont{
  position: absolute;
  top: 19%;
  font-size: 0.875rem;
  padding-left: 7.27%;
  color: var(--color-base-gray200);
}

.checkContainer{
  position: absolute;
  width: 73.33333333%;
  border-bottom: 1.5px solid var(--color-main-green);
  padding-bottom: 4%;
  left: 13.3083333%;
  top: 40%;
  display: flex;
  align-items: center;
  gap: 13px;
}

.bottomCheckContainer {
  position: absolute;
  width: 73.33333333%;
  left: 13.3083333%;
  top: 50%;
  display: flex;
  align-items: center;
  gap: 13px;
}

.bottomCheckContainer1 {
  position: absolute;
  width: 73.33333333%;
  left: 13.3083333%;
  top: 57%;
  display: flex;
  align-items: center;
  gap: 13px;
}

.bottomCheckContainer2 {
  position: absolute;
  width: 73.33333333%;
  left: 13.3083333%;
  top: 64%;
  display: flex;
  align-items: center;
  gap: 13px;
}

.bottomCheckContainer3 {
  position: absolute;
  width: 73.33333333%;
  left: 13.3083333%;
  top: 71%;
  display: flex;
  align-items: center;
  gap: 13px;
}

.fonts{
  display: flex;
  font-size: 1.0625rem;
  color: var(--color-base-gray400);
  gap: 4px;
}

.boldFonts{
  color: var(--color-main-green);
}

.icon{
  position: absolute;
  right: 0;
}