.formContainer{
  left: 13.3083333%;
  width: 73.33333333%;
  top: 16.98%;
  height: 73.07265522%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.labelText{
  font-size: 1.0625rem;
  color: var(--color-base-gray400);
}

.inputBox {
  width: 100%;
  height: 5.5555vh;
  box-sizing: border-box;
  border-radius: 8px;
  border : 0.6px solid var(--color-base-gray200);
  font-size: 1.0625rem;
  padding-left: 5.454545%;
  padding-right: 5.454545%;
}

.inputBoxContainer{
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 20%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.inputBox[aria-invalid='false'] {
  outline: 1.5px solid var(--color-main-green);
}

.inputBox[aria-invalid='true'] {
  outline: 1.5px solid var(--color-base-red100);
}

.subButton{
  width: 100%;
  height: 5.5555vh;
  color: white;
  background-color: var(--color-main-green);
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  top: 80%;
}

.errorFont{
  position: absolute;
  top: 16%;
  color: var(--color-base-red100);
  font-size: 0.875rem;
  padding-left: 5.454545%;
}

.errorFont1{
  position: absolute;
  color: var(--color-base-red100);
  font-size: 0.875rem;
  top: 36%;
  padding-left: 5.454545%;
}
