.container{
  width: 100%;
  height: 100vh;
  position: relative;
}


.mainContainer{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.title{
  display: flex;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
}

.colorTitle {
  color: var(--color-main-green-hover);
}

.subTitle{
  position: absolute;
  top: 105%;
  text-align: center;
  font-size: 1.25rem;
  line-height: 150%;
  color: var(--color-base-gray500);
}

.buttonContainer{
  position: absolute;
  top: 135%;
  padding: 10px 40px 10px 50px;
  background: var(--color-main-green);
  display: flex;
  gap: 12px;
  border-radius: 100px;
  align-items: center;
}

.button{
  border: none;
  background: var(--color-main-green);
  color: white;
  font-size: 1rem;
  font-weight: 700;

}

.footerContainer{
  position: absolute;
  width: 100%;
  top: 72%;
}