.remainContainer {
  position: absolute;
  top: 68%;
  width: 100%;
}

.board{
  border: 1px solid var(--color-borderColor-gray100);
  position: absolute;
  left: 37.3%;
  height: 42.32vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 44.919%;
  padding-block: 25px;
  padding-inline: 2.5524%;
  top: 0;
  box-sizing: border-box;
}

.boardList{
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
}

.boardContainer{
  display: flex;
  align-items: center;
  height: 7.315vh;
  width: 100%;
}

.badge{
  color: var(--color-base-black200);
  font-size: 0.75rem;
  border: 1px solid var(--color-borderColor-gray100);
  padding: 7.5px 10px;
  border-radius: 8px;
  white-space: nowrap;
}

.userContainer{
  position: absolute;
  display: flex;
  top: 0;
  left: 11.543%;
  gap: 8px;
}

.boardContent{
  position: absolute;
  font-size: 1.125rem;
  left: 12.462%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 88%;
}

.boardBottom{
  flex-direction: column;
  border-bottom: 0.5px solid var(--color-borderColor-gray100);
  width: 100%;
  top: 100%;
}

.borderNone{
  border: none;
}



@media (max-width: 1700px) {
  .image{
    position: absolute;
    left: -4%;
  }

  .board{
    position: absolute;
    right: 0;
    width: 70%;
  }

  .userContainer{
    left: 14.639%;
    top: 0;
  }

  .boardContent{
    left: 16.639%;
  }

  .iconsContainer{
    left: 16.639%;
  }
}

@media (max-width: 1500px) {
  .image{
    position: absolute;
    left: -40%;
  }

  .board{
    position: absolute;
    right: 0;
    width: 74%;
    left: 30%;
  }

  .boardContent{
    width: 84%;
  }
}

@media (max-width: 1400px) {
  .image{
    position: relative;
    left: -16%;
  }

  .board{
    position: absolute;
    right: 0;
    width: 64%;
    left: 40%;
  }

  .boardContent{
    width: 84%;
  }
}