.container{
  position: absolute;
  top: 120.6488%;
  width: 63.698%;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}

.titleBox{
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--color-base-black100);
}

.textStyle{
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--color-number-green);
}

.subTitle{
  position: absolute;
  left: 12.63%;
  line-height: 150%;
}

.realTimeContainer{
  position: absolute;
  top: 122.2225%;
  left: 66.875%;
}

.titleContainer{
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-base-black100);
}

.hot{
  color: var(--color-number-green);
}

.realTimeboard{
  border: 1px solid var(--color-borderColor-gray100);
  position: absolute;
  height: 26.389vh;
  border-radius: 8px;
  width: 186.917%;
  padding: 29px 31px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  top: 260%;
}

.contentBox{
  position: relative;
  display: flex;
  height: 9.78%;
}

.realtimeNumber{
  font-size: 1.5rem;
  font-family: "Roboto Thin", sans-serif;
}

.top3{
  color: var(--color-number-green);
  font-weight: 600;
}

.notTop3{
  color: var(--color-base-gray300);
}

.realtimeContent{
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--color-base-black100);
  font-size: 1rem;
  font-weight: 600;
  height: 100%;
  left: 15.557%;
}

.realtimeRank{
  position: absolute;
  right: 0;
  width: 11.114%;
  display: flex;
}

.rankNumber{
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--color-icon-gray100);
}

.image{
  position: absolute;
  top: 1900%;
}