.container{
  position: absolute;
  top: 120.6488%;
  width: 63.698%;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}

.titleBox{
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--color-base-black100);
}

.textStyle{
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--color-main-green-hover);
}

.subTitle{
  position: absolute;
  left: 13.2467%;
  line-height: 150%;
}