.bottomNavContainer{
  width: 100%;
  position: absolute;
  height: 4.63vh;
  top: 134.12%;
}

.categoryContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}

.icon {
  cursor: pointer;
}

.categoryFont{
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

.categoryFont:hover {
  color: var(--color-main-green-hover)
}