.container{
  width: 100%;
  display: flex;
  position: relative;
  padding-top: 1.963%;

}

.iconContainer {
  width: 8.3402%;
}

.leftLinkContainer{
  display: flex;
  position: absolute;
  left: 10.46606705%;
  gap: 24px;
  width: 22.813%;
  white-space: nowrap;
}

.linkfont{
  color: var(--color-base-gray500);
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  white-space: nowrap;
}

.linkfont:hover{
  color: var(--color-main-green-hover);
  font-weight: 700;
}

.formContainer{
  position: absolute;
  left: 59.44399%;
  display: flex;
  width: 22.6498%;
  box-sizing: border-box;
}

.inputText{
  width: 100%;
  padding: 0;
  height: 3.334vh;
  box-shadow: 0px 5px 11px 2px var(--color-base-gray700);
  border-radius: 30px;
  border: 1px solid var(--color-base-gray600);
  background: var(--color-base-white);
  padding-left: 5.454545%;
}

.icons {
  position: absolute;
  right: 5%;
  top: 23.5%;
  transform: translate(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.rightLinkContainer{
  position: absolute;
  right: 0;
  width: 13.43%;
  display: flex;
  gap: 10px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.linkText{
  text-decoration: none;
  color: var(--color-base-black100);;
}

.userImg{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.whiteButtonStyles{
  height: 3.426vh;
  padding: 0;
  width: 40.798%;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0.875rem;
}

.buttonStyle{
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  height: 3.426vh;
  padding: 0;
  border: none;
  padding-inline: 10px;
  padding-block: 15px;
  border-radius: 20px;
  background-color: var(--color-main-green);
  color: white;
  cursor: pointer;
}