.loginContainer {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/backgroundImage.svg");
  background-repeat: no-repeat;
  background-color: var(--color-base-bgColor);
  background-size: cover;
  background-attachment: fixed;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 17.81111%;
  left: 18.125%;
  height: 66.6666667vh;
  width: 31.25%;
  border-radius: 30px;
  box-shadow: 0px 4px 15px 0px rgba(1, 26, 20, 0.2);
  background-color: white;
}

.loginTitle {
  font-size: 2rem;
  color: var(--color-base-black100);
  position: absolute;
  top: 9.5833333%;
  font-weight: 700;
  left: 50%;
  transform: translate(-50%);
}

.orContainer {
  position: absolute;
  height: 3.84%;
  display: flex;
  align-items: center;
  gap: 7.3118%;
  width: 73.33333333%;
  left: 13.3083333%;
  top: 65.2722222%;
}

.orStyle {
  border: 0.6px solid var(--color-base-gray200);
  width: 43.409%;
  height: 0;
}

.orFont {
  font-size: 0.875rem;
  white-space: nowrap;
  color: var(--color-base-gray100);
}

.signUp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  gap: 3.93%;
  height: 4.1%;
  top: 87%;
}

.Text {
  color: var(--color-base-gray100);
}

.signUpText {
  font-weight: 600;
  border-bottom: 2px solid var(--color-base-gray100);
  color: var(--color-base-gray100);
  cursor: pointer;
}

.googleContainer {
  position: absolute;
  width: 100%;
  top: 72.80555556%;
}