.titleContainer{
  position: absolute;
  display: flex;
  top: 816%;
  gap: 24px;
  align-items: center;
}

.title{
  font-weight: 700;
  color: var(--color-base-black100);
  font-size: 1.75rem;
}

.titleFont{
  color: var(--color-number-green);
}

.subTitle{
  font-size: 1rem;
  line-height: 150%;
  color: var(--color-base-gray500);
}

.container{
  position: absolute;
  border: 1px solid var(--color-borderColor-gray100);
  width: 66.231%;
  height: 55.741vh;
  top: 906%;
  border-radius: 8px;
  padding-block: 1.6354%;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.boardContainer{
  margin: 0 auto;
  width: 88.119%;
  height: 8.1484vh;
  position: relative;
  display: flex;
  align-items: center;
}

.borderBottom{
  position: absolute;
  border: 0.5px solid var(--color-borderColor-gray100);
  width: 100%;
  top: 121.095%;
}

.borderNone{
  border: none;
}

.boardRankNumber{
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  font-family: "Roboto Thin", sans-serif;
}

.checkNum{
  color: var(--color-number-green);
}

.noneCheck{
  color: var(--color-base-gray300);
}


.iconContainer{
  position: absolute;
  top: 0;
  left: 6.883%;
  display: flex;
  gap: 5px;
  border: 0.5px solid var(--color-borderColor-gray100);
  border-radius: 8px;
  padding: 7px 10px;
}

.iconFont{
  font-size: 0.75rem;
  color: var(--color-base-black200);
}

.boardContent{
  top: 50%;
  position: absolute;
  left: 6.883%;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--color-base-black100);
}

.iconsContainer{
  display: flex;
  position: absolute;
  bottom: 0;
  left: 6.883%;
  gap: 15px;
}

.icons{
  display: flex;
  bottom: 0;
  left: 6.883%;
  gap: 7px;
}

.iconFont{
  position: relative;
  top: 9%;
  font-size: 0.8125rem;
  font-family: "Roboto Thin", sans-serif;
  color: var(--color-base-gray800);
}

.sideContainer{
  position: absolute;
  top: 849%;
  right: 11%;
}

.hotTitle{
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-base-black100);
}

.colorTitle{
  color: var(--color-number-green);
}

.rankContainer{
  width: 187.56%;
  height: 26.389vh;
  border: 1px solid var(--color-borderColor-gray100);
  border-radius: 8px;
  position: absolute;
  top: 250%;
  padding: 29px 31px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.rankBoard{
  display: flex;
  height: 9.335%;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.contentTitle{
  font-size: 1.5rem;
  font-family: "Roboto Thin", sans-serif;
  font-weight: 600;
  color: var(--color-icon-gray100);
  text-align: center;
  line-height: 21px;
}

.top3Content{
  color: var(--color-number-green);
}

.contentName{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  width: 56.446%;
  position: absolute;
  left: 15.557%;
  top: 5%;
}

.realtimeRank{
  display: flex;
  position: absolute;
  right: 0;
}

.realtimeContent{
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--color-base-black100);
  font-size: 1rem;
  font-weight: 600;
  height: 100%;
  left: 15.557%;
}

.rankNumber{
  font-size: 0.75rem;
  color: var(--color-icon-gray100);
  font-weight: 400;
  font-family: "Roboto Thin", sans-serif;
}

.image {
  position: absolute;
  top: 1900%;
}