/* reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Pretendard Medium';
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Pretendard ExtraBold';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard ExtraBold'),
    url('./Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard Black';
  font-weight: 800;
  font-display: swap;
  src:
    local('Pretendard Black'),
    url('./Pretendard-Black.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard Bold';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url('./Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard SemiBold';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url('./Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard Regular';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url('./Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard Medium';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url('./Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard Light';
  font-weight: 300;
  font-display: swap;
  src:
    local('Pretendard Light'),
    url('./Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard ExtraLight';
  font-weight: 200;
  font-display: swap;
  src:
    local('Pretendard ExtraLight'),
    url('./Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard Thin';
  font-weight: 100;
  font-display: swap;
  src:
    local('Pretendard Thin'),
    url('./Pretendard-Thin.woff') format('woff');
}

:root {
  --color-main-green: #009a57;
  --color-main-green-hover: #00795D;
  --color-base-gray100: #79807c;
  --color-base-gray200: #8b9590;
  --color-base-gray300: #707070;
  --color-base-gray400: #555c62;
  --color-base-gray500: #676767;
  --color-base-gray600: #E2E2E2;
  --color-base-gray700: #F2F2F7;
  --color-base-white: #FDFDFD;
  --color-base-white200: #f5f9ff;
  --color-base-black100: #333333;
  --color-base-black200: #515151;
  --color-base-bgColor: #e6f2ef;
  --color-base-red100: #e85b48;
}
